body {
    background-color: darkgray;
    color: rgb(82, 69, 69);
}

.corpo {
    width: 1250px;
    /*
margin serve para da espaço da imagem no seu site
*/
    margin: auto;

}

.conteudo {
    display: table;

}

.imagem {

    display: table-cell;
    float: right;
}

.texto {

    display: table-cell;
    float: right;
    width: 300px;
    margin-top: -20px;
    margin-left: 20px;
    
}